In [3]:
import pandas as pd

csv_file_path = "../csv/서울시 동물병원 인허가 정보.csv"
df = pd.read_csv(csv_file_path,encoding='cp949')
df.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),축산업무구분명,축산물가공업구분명,축산일련번호,권리주체일련번호,총인원
0,3150000,315000001020200003,2020-06-16,NaN,1,영업/정상,0,정상,NaN,NaN,...,U,2022-12-03 00:03:00.0,NaN,185831.959022,451192.093585,NaN,NaN,NaN,NaN,NaN
1,3150000,315000001020020007,2002-12-05,NaN,1,영업/정상,0,정상,NaN,NaN,...,U,2022-12-03 00:03:00.0,NaN,185521.368171,450368.363434,NaN,NaN,NaN,NaN,NaN
2,3230000,323000001019930002,1993-07-02,NaN,1,영업/정상,0,정상,NaN,NaN,...,U,2022-12-03 00:03:00.0,NaN,210245.052535,445108.572829,NaN,NaN,NaN,NaN,NaN
3,3240000,324000001020230001,2023-03-07,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2022-12-03 00:09:00.0,NaN,214846.333742,450705.800053,NaN,NaN,NaN,NaN,NaN
4,3110000,311000001020230003,2023-09-27,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2022-12-08 22:09:00.0,NaN,192667.438048,457480.990068,NaN,NaN,NaN,NaN,NaN

In [10]:
# 도로명주소에서 자치구 이름따오기
df['자치구'] = df['도로명주소'].str.split().str[1]
df.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,업태구분명,좌표정보(X),좌표정보(Y),축산업무구분명,축산물가공업구분명,축산일련번호,권리주체일련번호,총인원,구 이름,자치구
0,3150000,315000001020200003,2020-06-16,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,185831.959022,451192.093585,NaN,NaN,NaN,NaN,NaN,강서구,강서구
1,3150000,315000001020020007,2002-12-05,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,185521.368171,450368.363434,NaN,NaN,NaN,NaN,NaN,강서구,강서구
2,3230000,323000001019930002,1993-07-02,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,210245.052535,445108.572829,NaN,NaN,NaN,NaN,NaN,송파구,송파구
3,3240000,324000001020230001,2023-03-07,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,214846.333742,450705.800053,NaN,NaN,NaN,NaN,NaN,강동구,강동구
4,3110000,311000001020230003,2023-09-27,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,192667.438048,457480.990068,NaN,NaN,NaN,NaN,NaN,은평구,은평구

In [11]:
# '상세영업상태명'이 '정상'인 행만 필터링
normal_business = df[df['상세영업상태명'] == '정상']
normal_business.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,업태구분명,좌표정보(X),좌표정보(Y),축산업무구분명,축산물가공업구분명,축산일련번호,권리주체일련번호,총인원,구 이름,자치구
0,3150000,315000001020200003,2020-06-16,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,185831.959022,451192.093585,NaN,NaN,NaN,NaN,NaN,강서구,강서구
1,3150000,315000001020020007,2002-12-05,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,185521.368171,450368.363434,NaN,NaN,NaN,NaN,NaN,강서구,강서구
2,3230000,323000001019930002,1993-07-02,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,210245.052535,445108.572829,NaN,NaN,NaN,NaN,NaN,송파구,송파구
3,3240000,324000001020230001,2023-03-07,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,214846.333742,450705.800053,NaN,NaN,NaN,NaN,NaN,강동구,강동구
4,3110000,311000001020230003,2023-09-27,NaN,1,영업/정상,0,정상,NaN,NaN,...,NaN,192667.438048,457480.990068,NaN,NaN,NaN,NaN,NaN,은평구,은평구

In [12]:
# '도로명주소'에서 추출한 자치구이름과 '상세영업상태명' 컬럼 선택
selected_columns = normal_business[['자치구', '상세영업상태명']]
selected_columns

      자치구 상세영업상태명
0     강서구      정상
1     강서구      정상
2     송파구      정상
3     강동구      정상
4     은평구      정상
...   ...     ...
2092  관악구      정상
2094  송파구      정상
2095  관악구      정상
2096  강남구      정상
2097  송파구      정상

[919 rows x 2 columns]

In [14]:
# '자치구'로 그룹화하고, 각 그룹의 크기 계산
grouped_counts = selected_columns.groupby('자치구').size().reset_index(name='영업중인병원')
# 내림차수정렬
grouped_counts.sort_values(by='영업중인병원', ascending=False)

# 정렬된 데이터프레임 출력
print(grouped_counts)

     자치구  영업중인병원
0    강남구      86
1    강동구      53
2    강북구      26
3    강서구      50
4    관악구      28
5    광진구      32
6    구로구      30
7    금천구      16
8    노원구      43
9    도봉구      26
10  동대문구      29
11   동작구      21
12   마포구      45
13  서대문구      25
14   서초구      51
15   성동구      29
16   성북구      34
17   송파구      75
18   양천구      47
19  영등포구      35
20   용산구      31
21   은평구      44
22   종로구      12
23    중구      20
24   중랑구      30