In [1]:
#인구수 내림차순정렬
import pandas as pd
population_file_path = '../../excel/인구밀도_20231130132635.xlsx'
df = pd.read_excel(population_file_path, header=0)
filtered_df = df[pd.notna(df.iloc[:, 1])]
population = filtered_df.iloc[:, [1, 9]]
population = population.iloc[1:]
population = population.rename(columns={'동별(2)': '자치구', 2022 : '인구수'})
population['인구수'] = (population['인구수'] / 1000).astype(int)
population.sort_values(by='인구수',ascending=False,inplace=True)
population.head(10)

     자치구  인구수
406  송파구  664
257  강서구  574
382  강남구  534
169  노원구  508
341  관악구  501
189  은평구  470
434  강동구  464
238  양천구  444
119  성북구  441
278  구로구  418

In [2]:
#유기동물데이터
file_path = '../../excel/유기동물.xlsx'
df = pd.read_excel(file_path)
df.head()
abandoned_animals = df[['자치구별(2)', 2022]].iloc[4:]
abandoned_animals.rename(columns={'자치구별(2)': '자치구', 2022: '유기동물수'}, inplace=True)
abandoned_animals.head(10)

     자치구 유기동물수
4    용산구   238
5    성동구   165
6    광진구   167
7   동대문구   201
8    중랑구   199
9    성북구   168
10   강북구   270
11   도봉구   137
12   노원구   215
13   은평구   273

In [3]:
#데이터합치기 '자치구' 기준
merged_df = pd.merge(population, abandoned_animals, on='자치구')

# 결과 출력
merged_df

     자치구  인구수 유기동물수
0    송파구  664   173
1    강서구  574   222
2    강남구  534   147
3    노원구  508   215
4    관악구  501   298
5    은평구  470   273
6    강동구  464   284
7    양천구  444   189
8    성북구  441   168
9    구로구  418   180
10   서초구  408   130
11  영등포구  398   152
12   중랑구  390   199
13   동작구  390   224
14   마포구  375   286
15  동대문구  353   201
16   광진구  351   167
17  서대문구  319   120
18   도봉구  313   137
19   강북구  297   270
20   성동구  288   165
21   금천구  242   148
22   용산구  233   238

In [9]:
json_file_path = '../../json/인구수(내림)+유기동물.json'
merged_df.to_json(json_file_path, orient='records', force_ascii=False)

# # 저장된 파일 경로 반환
json_file_path

'../../json/인구수(내림)+유기동물.json'